.git
node_modules
vendor
.env
.env.backup
.phpunit.result.cache
tests
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
database/database.sqlite
docker-compose.yml
Dockerfile
.dockerignore
npm-debug.log
composer.lock
package-lock.json
